<!DOCTYPE html>
<html>
  <head>
    <title>TZitter <%= @title %></title>
    <%= csrf_meta_tag %>
    <%= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js" %>
    <%= javascript_include_tag 'rails' %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
